.gitignore
.dockerignore

.settings/
bin/
*.class
*.log
.classpath
.project
target/
.cache-main
*.db
*.bin
*.semanticdb
.git/
.bloop/
.metals/
.vscode/
null/
sharedDoc/
project/target/
project/project/
project/metals.sbt
docker-compose.yml